<%= render "header" %>
<div class="container mx-auto">
  <p>
    The Upper Valley is a rural area, and many families live in a food desert, meaning they are 10 miles or more away
    from food, especially fresh produce. Our app aims to support Little Rivers' goal of increasing food access for
    residents of this region by producing an online guide to local food resources that is up-to-date, searchable,
    mobile-friendly, and offline-accessible.
  </p>
</div>
