<%= javascript_pack_tag 'header' %>
<header class="bg-gray-500">


  <!--
    Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
    Read the documentation to get started: https://tailwindui.com/documentation
  -->
  <nav class="bg-gray-600">
    <% if user_signed_in? %>
      <%= render "logged_in_nav" %>
    <% else %>
      <%= render "not_logged_in_nav" %>
    <% end %>
  </nav>
</header>
