<h1>FoodAccessPoints#index</h1>
<p>Find me in app/views/food_access_points/index.html.erb</p>

<% @food_access_points.each do |food_access_point| %>
<%= food_access_point.name %>
<%= food_access_point.phone_number %>
<% end %>